body {
    margin: 60px auto;
    width: 80%;
    min-width: 600px;
    max-width: 1200px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: smaller;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/* a {
    text-decoration: none;
    color: #999;
} */

/* a:hover {
    text-decoration: underline;
} */

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 1em;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 1em;
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 1em;
}

p {
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: justify;
}

body ul li {
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: justify;    
}

footer {
    /* border-top: 1px solid #d5d5d5; */
    font-size: .8em;
}

blockquote {
    color: #bbbbbb;
    background-color: #fefefe;
    border-left-style: solid;
    border-left-color: #666;
    border-left-width: thick;
    padding-left: 10pt;
    margin-left: 2%;
    font-size: small;
    font-style: italic;
}

/* ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
} */

.leftAligned {
    display: inline-block;
    padding-right: 5%;
    float: left;
}

.rightAligned {
    /* display: inline-block; */
    padding-left: 5%;
    float: right;
}

.centerAligned {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

span {
    vertical-align: middle;
    display: inline-block;
    text-align: justify;
}

img {
    padding-left: 5%;
}